/* CURRENTLY IN: styles/main.css */
h1 {
	font-size: 			50px;
	text-transform: 	uppercase;
	margin:				auto;
}

#top {
	margin:				auto;
}

#link {
	float:				left;
	font-size:			20px;
	margin:				auto;
}


li {
	float:				left;
	margin:				10px;
}


#wrap {
	font-family: 			sans-serif;
	background: 			url(place.jpg) no-repeat center center fixed; 
	background-size: 		960px;
	height:					500px;
	margin:					auto;
}

