/* CURRENTLY IN: styles/main.css */
h1 {
	font-size: 			50px;
	text-transform: 	uppercase;
}

nav {
	float:				left;
	font-size:			20px;
	margin:				auto;
}

ul {
	margin:				auto;
}

li {
	float:				left;
	margin:				10px;
}

#container {
	width:				860px;
	margin:				auto;
	font-family: 		sans-serif;
	background-color:	blue;
}

