body {
	background: 			url(nightview.jpg);
	background-size:		cover;

	overflow:				hidden;
}

.container {
 	width:					100%;
 	margin:					auto;
 	font-family: 'Roboto Condensed', sans-serif;
 }

 h1, h2, h3, footer, .more {
 	font-family: 'Lora', serif;
 }

 .add {
 	margin-top:				20px;
 }

 .pic {
 	width:					500px;
 }

 img {
 	display:				none;
 }


 .top {
 	background-color: 		black;
 	color:					white;
	width: 100%;
	overflow: hidden;
 }

 .more {
 	font-size:				30px;
 	color:					white;
 	z-index:				102;
 }

 .locoPop {
 	display:				none;
 	background-color: 		white;
 	z-index:				100;
 	margin:					20px;
 	position:				fixed;
 	width:					760px;
 	margin-left:			80px;
 	padding:				20px;
 	margin-top:				100px;
 }

 .howPop {
 	display:				none;
 	background-color: 		white;
 	z-index:				100;
 	margin:					20px;
 	position:				fixed;
 	width:					760px;
 	margin-left:			80px;
 	padding:				20px;

 }

 .howPop a {
 	color:					blue;
 	padding:				0px;
 	padding:				0px;
 }

 .howPop a:hover {
 	color:					black;
 }



 h1{
	float: left;
	font-size: 50px;
	padding-left:			50px;
}


a { 
	color:					white;
	text-decoration:		none;
	font-family: 			sans-serif;	
}

p {
	font-family:			sans-serif;
}

h2 {
	float: right;
	font-size: 25px;
	overflow: hidden;
	padding-right:			50px;
	padding-top: 			15px;

}

.about {
	border:					1px solid black;
	border-radius: 			2px;
	margin:					50px;
	padding:				20px;
	width:					30%;
	float:					left;
	font-size:				115%;
	background-color: 		rgba(146, 148, 120, .7);
}

.see {
	font-size: 		125%;
	font-family: 'Lora', serif;
}

nav {
	text-align:		center;
	overflow: 		hidden;
	font-size:		20px;
	background: rgba(146, 148, 120, .7);
	padding:			20px;
	padding-bottom:			10px;
	border-bottom: 			2px black;
	font-family: 'Roboto Condensed', sans-serif;
	border-bottom: 			1px solid black;
}

.navM {
	display:		none;
}


body {
	background-color:			white;
}


.title {
	float:				left;
	margin-right:		300px;
}

a { 
	color:				black;
	text-decoration: 	none;
	padding:			10px;
	-transition: color .25s ease-in-out;
   -moz-transition: color .25s ease-in-out;
   -webkit-transition: color .25s ease-in-out;
}

a:hover {
	color:				white;
}

.name {
	font-size:			30px;
	text-transform: 	uppercase;
}

.wb {
	font-size: 			20px;
	text-transform: 	uppercase;
}

footer {
	bottom:				0px;
	width:				100%;
	padding:			5px;
	font-size: 			20px;
	position:			fixed;
}

a {
	color:				black;
	text-decoration: 	none;
	-transition: color .25s ease-in-out;
   -moz-transition: color .25s ease-in-out;
   -webkit-transition: color .25s ease-in-out;
   margin:				10px;
}



a:hover {
	color:				white;
}




.x {
	float: 				right;
	margin-top:			-15px;
	margin-right:		0px;
	font-size: 			20px;
	color:				blue;
}

.hide {
	display:			none;
}

.one{
  background: url(one.jpg);
  background-size: cover;
}
 
.two{
  background: url(two.jpg);
  background-size:	cover;
}

.three{
  background: url(three.jpg);
  background-size:	cover;
}

.slide{
  position: fixed;
  margin-left:			220px;
  width:				520px;
  height:				390px;
  color:				white;
}

.sShow{
	display:			none;
}

.sShow .x{
	margin-left:		710px;
	margin-top:			5px;
	position:			fixed;
	z-index:			100;

}

.next{
	position:			fixed;
	margin-left:		680px;
	margin-top:			350px;
	color:				white;
	font-size: 			160%;
	text-shadow:		2px 2px black;

}


 .show {
 	display:			block;
}

@media only screen and (min-width: 960px) {
	.navM {
		display:		none;
	}

	.menu{
		display:		none;
	}

}

@media only screen and (max-width: 959px) and (min-width: 601px) {
	.container {
 	position:				static;
 	width:					100%;
 	margin:					auto;
 	height:					600px;
 	font-family: 'Roboto Condensed', sans-serif;
 	z-index:				1;
 	font-size:				90%;
 	}

 	.navM {
		display:		none;
	}

	.menu{
		display:		none;
	}

	h1 {
		font-size: 			30px;
	}

	h2 {
		font-size:			20px;
	}

	.sShow {
		width:				200px;
	}

}

@media only screen and (max-width: 600px) {
	.container {
 	width:					100%;
 	margin:					auto;
 	height:					600px;
 	font-family: 'Roboto Condensed', sans-serif;
 	z-index:				1;
 	font-size:				75%;
 	}

 	.navM {
 		background-color:	white;
 		background-color:	blue;
 		display:			none;
 	}

 	.hide {
 		display:			none;
 	}

 	.menu a{
 		color:				white;
 		font-size: 			20px;
 		margin-top:			15px;
 		position:			fixed;
 	}

 	h1{
 		font-size:			25px;
 		margin-left:		10px;
 	}

 	h2{
 		font-size:			15px;
 		margin-left:		10px;
 	}

	.locoPop {
 	display:				none;
 	background-color: 		white;
 	z-index:				100;
 	margin:					20px;
 	position:				fixed;
 	width:					60%;
 	margin-left:			10%;
 	padding:				20px;
 	margin-top:				100px;
 }

 .howPop {
 	display:				none;
 	background-color: 		white;
 	z-index:				100;
 	margin:					20px;
 	position:				fixed;
 	width:					60%;
 	margin-left:			10%;
 	padding:				20px;

 }

 .about{
 	width:					60%;
 }

 nav {
 	display:				none;
 }


 .show {
 	display:				block;
 }

 .slide {
 	width:					30%;
 	margin-left:			20%;
 }
}

	/* Tablet Portrait size to standard 960 (devices and browsers) */
	@media only screen and (min-width: 768px) and (max-width: 959px) {}

	/* All Mobile Sizes (devices and browser) */
	@media only screen and (max-width: 767px) {

	}

	/* Mobile Landscape Size to Tablet Portrait (devices and browsers) */
	@media only screen and (min-width: 480px) and (max-width: 767px) {}

	/* Mobile Portrait Size to Mobile Landscape Size (devices and browsers) */
	/*@media only screen and (max-width: 479px) {
		.container {
	background: 			url(place.jpg);
	background-size:		cover;
	overflow:				hidden;
 	position:				static;
 	width:					460px;
 	margin:					auto;
 	height:					600px;
 	font-family: 'Roboto Condensed', sans-serif;
 	z-index:				1;
 	font-size:				70%;
 	}

 	h1{
 		font-size:			25px;
 		margin-left:		10px;
 	}

 	h2{
 		font-size:			15px;
 		float:				left;
 	}
 
}/*


