/* CURRENTLY IN: styles/main.css */
body {
	background-color: 		black;
	background-repeat:		no-repeat;
	background-size:  		cover;
	background-position: 	static;
	color: 					rgba(0, 0, 0, 0.00);
	font-size: 				50px;
	font-family: 			"Terminal Dosis", sans-serif;
	overflow: 				hidden;
}


.wrapper div {
	position: 				absolute;
}

.one { 
	width: 					1200px;
	text-align: 			center;
	font-weight: 			bold;
	margin-top:					800px;
	right:					1000px;
	color:					blue;
	height:					500px;	
	display:				block;
	background: 			url(back.jpg);
	z-index: 				100;
}

/*.one1 { 
	width: 					1200px;
	background: 		url(back.jpg) 50% no-repeat;
	color:					white;
	-webkit-animation: color 3s linear;
	background 20s cubic-bezier(1,.5,.8,.97),
	height:					1400px;	
	
}*/

.two {
	top: 					1000px;
	left: 					0px;
	width: 					1200px;
	height: 				500px;
	text-align: 			center;
	padding-top: 			750px;
	color:					blue;
}

.two2 { 
	color:					white;
	-webkit-transition: color 3s cubic-bezier(.05,-2.75,0,-2);
	/*background 20s cubic-bezier(1,.5,.8,.97),*/
}


.three {
	top: 					1950px;
	left: 					500px;
	width: 					4500px;
	height:					400px;
	text-align: 			right;
	color:					blue;
	background-image: url(back.jpg);
	background-repeat: 		no-repeat;
}

.three3 { 
	color:					white;
	-webkit-transition: color 3s cubic-bezier(.05,-2.75,0,-2);
	
}

.four {
	top: 					-300px;
	left: 					5000px;
	width: 					400px;
	color:					blue;
}

.four4 { 
	color:					white;
	-webkit-transition: color 3s cubic-bezier(.05,-2.75,0,-2);
	
}

.five {
	color: 					blue;
	left: 					2185px;
	top: 					660px;
	width: 					460px;
	transform: 				rotate(-90deg) translateY(2.5em);
}

.five .upside-down {
	font-size: 				42px;
	text-align: 			right;
	transform: 				rotate(180deg) translateY(3em);
}

.five5 { 
	color:					white;
	-webkit-transition: color 3s cubic-bezier(.05,-2.75,0,-2);
	
}

nav {
	z-index: 				1000;
	color:	 				white;
}
